
.vscode/

__pycache__/
*.py[cod]
*.so

scripts/phonons/cache.*

.env/
.venv/
env/
venv/
*.egg-info/

.ipynb_checkpoints/

*.log
*.out
*.err
*.bak
*.tmp


# MLIP or MACE model files
*.model
*.pt
*.h5
*.pth
*.npz
*.ckpt
*.pth

.cache/

# Ignore Results and model cache as well:
#assets/models/**
#results/**

# Forgot to let it ignore the structures:
*.poscar


# forgot to block the data files. Keep the input files. 
*.png
*.traj
*.json


