
.vscode/

__pycache__/
*.py[cod]
*.so

cache.*

.env/
.venv/
venv/
*.egg-info/

.ipynb_checkpoints/

*.log
*.out
*.err
*.bak
*.tmp


# MLIP or MACE model files
assets/models/**
!assets/models/mace/ivac0_neb_ft.model
!assets/models/mace/ivac0_neb_ft_compiled.model
!assets/models/mace/mace-mpa-0-medium.model
!assets/models/mace/mace-mpa-0-medium-ft-cspbi3*.model
!assets/models/MODELS.md

assets/structures/**
!assets/structures/NEB

.cache/

test/**

# Ignore Results and model cache as well:
#assets/models/**
#results/**

results*
results*/**

src/coupling_modes/PHONONCOUPLING.md

logs/
assets/training_data
results
test
